[Unit]
Description=ProtonMail IMAP and SMTP bridge

[Service]
Type=simple
ExecStart=/usr/bin/hydroxide -disable-carddav serve

[Install]
WantedBy=default.target
