[Unit]
Description=ProtonMail CardDAV, IMAP and SMTP bridge

[Service]
Type=simple
ExecStart=/usr/bin/hydroxide serve

[Install]
WantedBy=default.target
